<ion-view>
  <ion-content>    
    <div class="row">
    <button class="button button-calm col-33" ng-click="goto('jueves_2')">
     Alternativa
    </button>
    <h4 class="col col-33 text-center">Jueves</h4>
    <button class="button button-assertive col-33" ng-click="goto('index')">
     Volver
    </button>
  </div>
  <div class="card">
    <div class="item item-divider">
      Desayuno
    </div>
    <div class="item item-text-wrap">
      * Leche desnatada + 1 cucharada Cacao/Café
      <br/>
      * 2 Biscotes con tomate + 2 lonchas York/Pavo
    </div>
  </div>
  <div class="card">
    <div class="item item-divider">
      Almuerzo
    </div>
    <div class="item item-text-wrap">
      * Fruta + 2 nueces + infusión
    </div>
  </div>
  <div class="card">
    <div class="item item-divider">
      Comida
    </div>
    <div class="item item-text-wrap">
      * 1º (plancha u horno) 5 esparragos + 5 champiñones + medio pimiento + 2 cucharadas aceite
      <br/>
      * 2º media dorada (plancha u horno) + diente ajo + ralladura limón + 1 cucharada aceite
      <br/>
      * Café con leche
    </div>
  </div>
  <div class="card">
    <div class="item item-divider">
      Merienda
    </div>
    <div class="item item-text-wrap">
      * Yogur desnatado + infusión
    </div>
  </div>
  <div class="card">
    <div class="item item-divider">
      Cena
    </div>
    <div class="item item-text-wrap">    
      * Berberechos (platito)
      <br/>
      * 1º Medio calabacín (plancha) + 1 cucharada aceite
      <br/>
      * 2º Queso fresco (4 cuñas) + medio tomate
      <br/>
      * Yogur desnatado
    </div>
  </div>
  <div class="row">
    <button class="button button-calm col-33" ng-click="goto('jueves_2')">
     Alternativa
    </button>
    <button class="button button-assertive col-33 col-offset-33" ng-click="goto('index')">
     Volver
    </button>
  </div>
  </ion-view>
</ion-content>    