<ion-view>
  <ion-content>    
    <div class="row">
    <button class="button button-calm col-33" ng-click="goto('martes')">
     Normal
    </button>
    <h4 class="col col-33 text-center">Martes Alternativo</h4>
    <button class="button button-assertive col-33" ng-click="goto('index')">
     Volver
    </button>
  </div>
  <div class="card">
    <div class="item item-divider">
      Desayuno
    </div>
    <div class="item item-text-wrap">
      * 1 Vaso leche o 2 yogures desnatados o 4 Galletas o 2 biscotes con tomate o media tostada con tomate + loncha york o cereales sin azucar (40g)
    </div>
  </div>
  <div class="card">
    <div class="item item-divider">
      Almuerzo
    </div>
    <div class="item item-text-wrap">
      * Fruta
    </div>
  </div>
  <div class="card">
    <div class="item item-divider">
      Comida
    </div>
    <div class="item item-text-wrap">
      * 1º Ensalada 4 verduras + 1 puñado pasta + 2 latas atun + fruta (postre)
      <br/>
      * Sustitución 1er plato: Macarrones (50g) con tomate y ajetes + 50g arroz con tomate y judías
      <br/>
      * Sustitución 2o plato: 1 Lenguado o mcualquier pescado o carne magra
    </div>
  </div>
  <div class="card">
    <div class="item item-divider">
      Merienda
    </div>
    <div class="item item-text-wrap">
      * Yogur o actimel o danacol
    </div>
  </div>
  <div class="card">
    <div class="item item-divider">
      Cena
    </div>
    <div class="item item-text-wrap">    
      * Sustitución 1er plato: Cualquier crema precocinada
      <br/>
      * Sustitución protéica: 1 filete atún o otro pescado azul (salmón no)
    </div>
  </div>
  <div class="row">
    <button class="button button-calm col-33" ng-click="goto('martes')">
     Normal
    </button>
    <button class="button button-assertive col-33 col-offset-33" ng-click="goto('index')">
     Volver
    </button>
  </div>
  </ion-view>
</ion-content>    