<ion-view>
  <ion-content>    
    <div class="row">
    <button class="button button-calm col-33" ng-click="goto('martes_2')">
     Alternativa
    </button>
    <h4 class="col col-33 text-center">Martes</h4>
    <button class="button button-assertive col-33" ng-click="goto('index')">
     Volver
    </button>
  </div>
  <div class="card">
    <div class="item item-divider">
      Desayuno
    </div>
    <div class="item item-text-wrap">
      * Leche desnatada + 1 cucharada Cacao/Café
      <br/>
      * 2 Biscotes con tomate + 2 lonchas York/Pavo
    </div>
  </div>
  <div class="card">
    <div class="item item-divider">
      Almuerzo
    </div>
    <div class="item item-text-wrap">
      * Fruta + 2 nueces + Infusión
    </div>
  </div>
  <div class="card">
    <div class="item item-divider">
      Comida
    </div>
    <div class="item item-text-wrap">
      * 1º 2 vasos caldo precocinado de pollo + medio vaso fideos(50g) + 2 cucharadas aceite
      <br/>
      * 2º Lenguado (horno 140g)
      <br/>
      * Café con leche
    </div>
  </div>
  <div class="card">
    <div class="item item-divider">
      Merienda
    </div>
    <div class="item item-text-wrap">
      * Yogur desnatado + infusión
    </div>
  </div>
  <div class="card">
    <div class="item item-divider">
      Cena
    </div>
    <div class="item item-text-wrap">
      * 1º 5 rodajas (un dedo) de calabacín + 5 esparragos trigeros + 3 cogollos alcachofas + 2 cucharadas aceite
      <br/>
      * 2º lata atun (sin aceite) + 2 cucharadas tomate rayado + 1 cucharada aceite
      <br/>
      * Yogur desnatado
    </div>
  </div>
  <div class="row">
    <button class="button button-calm col-33" ng-click="goto('martes_2')">
     Alternativa
    </button>
    <button class="button button-assertive col-33 col-offset-33" ng-click="goto('index')">
     Volver
    </button>
  </div>
  </ion-view>
</ion-content>    