<ion-view>
  <ion-content>    
    <div class="row">
    <button class="button button-calm col-33" ng-click="goto('miercoles_2')">
     Alternativa
    </button>
    <h4 class="col col-33 text-center">Miércoles</h4>
    <button class="button button-assertive col-33" ng-click="goto('index')">
     Volver
    </button>
  </div>
  <div class="card">
    <div class="item item-divider">
      Desayuno
    </div>
    <div class="item item-text-wrap">
      * Leche desnatada + 1 cucharada Cacao/Café
      <br/>
       * 2 Biscotes con tomate + 2 lonchas York/Pavo
    </div>
  </div>
  <div class="card">
    <div class="item item-divider">
      Almuerzo
    </div>
    <div class="item item-text-wrap">
      * Fruta + Actimel + Infusión
    </div>
  </div>
  <div class="card">
    <div class="item item-divider">
      Comida
    </div>
    <div class="item item-text-wrap">
      * Ensalada 3 verduras
      <br/>
      * 1º Macarrones (60g) + 5 esparragos + 2 ajetes tiernos + 1 diente ajo + almejas + 2 cucharadas aceite
      <br/>
      * Café con leche
    </div>
  </div>
  <div class="card">
    <div class="item item-divider">
      Merienda
    </div>
    <div class="item item-text-wrap">
      * Yogur desnatado + infusión
    </div>
  </div>
  <div class="card">
    <div class="item item-divider">
      Cena
    </div>
    <div class="item item-text-wrap">
      * 1º Ensalada 4 verduras
      <br/>
      * 2º 2 filetes lomo adobado (plancha) + 4 ajetes tiernos + 1 cucharada aceite
      <br/>
      * Yogur desnatado
    </div>
  </div>
  <div class="row">
    <button class="button button-calm col-33" ng-click="goto('miercoles_2')">
     Alternativa
    </button>
    <button class="button button-assertive col-33 col-offset-33" ng-click="goto('index')">
     Volver
    </button>
  </div>
  </ion-view>
</ion-content>    