<ion-view>
  <ion-content>    
    <div class="row">
    <button class="button button-calm col-33" ng-click="goto('sabado')">
     Normal
    </button>
    <h4 class="col col-33 text-center">Sábado Alternativo</h4>
    <button class="button button-assertive col-33" ng-click="goto('index')">
     Volver
    </button>
  </div>
  <div class="card">
    <div class="item item-divider">
      Desayuno
    </div>
    <div class="item item-text-wrap">
      * 1 Vaso leche o 2 yogures desnatados o 4 Galletas o 2 biscotes con tomate o media tostada con tomate + loncha york o cereales sin azucar (40g)
    </div>
  </div>
  <div class="card">
    <div class="item item-divider">
      Almuerzo
    </div>
    <div class="item item-text-wrap">
      * Fruta
    </div>
  </div>
  <div class="card">
    <div class="item item-divider">
      Comida
    </div>
    <div class="item item-text-wrap">
      * Sustitución 1er plato: Acelgas con tomate + menestra verduras + parrilalda 3 verduras
      <br/>
      * Sustitución 2o plato: 1 bonito/dorada/emperador
    </div>
  </div>
  <div class="card">
    <div class="item item-divider">
      Merienda
    </div>
    <div class="item item-text-wrap">
      * Yogur o actimel o danacol
    </div>
  </div>
  <div class="card">
    <div class="item item-divider">
      Cena
    </div>
    <div class="item item-text-wrap">    
      * Sustitución 1er plato: Calabacín con cebolla + espinacas con ajo y tomate + crema 3 verduras
      <br/>
      * Sustitución protéica: Pavo/york/pollo/atún
    </div>
  </div>
  <div class="row">
    <button class="button button-calm col-33" ng-click="goto('sabado')">
     Normal
    </button>
    <button class="button button-assertive col-33 col-offset-33" ng-click="goto('index')">
     Volver
    </button>
  </div>
  </ion-view>
</ion-content>    