<ion-view>
  <ion-content>    
    <div class="row">
    <button class="button button-calm col-33" ng-click="goto('sabado_2')">
     Alternativa
    </button>
    <h4 class="col col-33 text-center">Sábado</h4>
    <button class="button button-assertive col-33" ng-click="goto('index')">
     Volver
    </button>
  </div>
  <div class="card">
    <div class="item item-divider">
      Desayuno
    </div>
    <div class="item item-text-wrap">
      * Leche desnatada + 1 cucharada Cacao/Café
      <br/>
      * 2 Biscotes con tomate + 2 lonchas York/Pavo
    </div>
  </div>
  <div class="card">
    <div class="item item-divider">
      Almuerzo
    </div>
    <div class="item item-text-wrap">
      * Fruta + 2 nueces + infusión
    </div>
  </div>
  <div class="card">
    <div class="item item-divider">
      Comida
    </div>
    <div class="item item-text-wrap">
      * 1º (hervido o sartén) guisantes (90g) + 1 zanahoria + 4 cucharadas tomate natural
      <br/>
      * 2º filete ternera (150g, plancha) + 5 ajetes tiernos + 2 cucharadas aceite
      <br/>
      * Café con leche
    </div>
  </div>
  <div class="card">
    <div class="item item-divider">
      Merienda
    </div>
    <div class="item item-text-wrap">
      * Yogur desnatado + infusión
    </div>
  </div>
  <div class="card">
    <div class="item item-divider">
      Cena
    </div>
    <div class="item item-text-wrap">
      * 1º Berenjena (horno) + 2 cucharadas tomate natural + 1 cebolla picada + 1 cucharada aceite
      <br/>
      * 2º 3 lonchas pavo
      <br/>
      * Yogur desnatado
    </div>
  </div>
  <div class="row">
    <button class="button button-calm col-33" ng-click="goto('sabado_2')">
     Alternativa
    </button>
    <button class="button button-assertive col-33 col-offset-33" ng-click="goto('index')">
     Volver
    </button>
  </div>
  </ion-view>
</ion-content>    